pandas==1.5.3
geopandas==1.0.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
QtPy==2.4.1
ipython==8.27.0
PySide6==6.5.0
PySide6-Addons==6.5.0
PySide6-Essentials==6.5.0
ipykernel==6.29.5
ipympl==0.9.4
ipython==8.27.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
qtconsole==5.6.0